@using System.Security.Claims
@model System.Collections.Generic.List<Document.Models.ViewModels.Document.DocumentVm>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<!-- Recent Sales -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <h5 style="float:left" class="card-title">Список документов</h5>
            <br>
            <a asp-action="Create" asp-controller="Document" class="btn btn-primary" style="float:right">Создать</a>
            <br>
            <br>
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Корреспондент</th>
                    <th scope="col">Отдел</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model)
                    {
                        var canDelete = doc.UserId == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
                        <tr>
                            <th scope="row">
                                <a asp-action="GetById" asp-controller="Document" asp-route-id="@doc.Id">#@doc.DocumentNumber</a>
                            </th>
                            <td>@doc.Correspondent</td>
                            <td>
                               @doc.DepartmentName
                            </td>
                            <td>@doc.Type</td>
                            <td>
                                <span class="badge bg-@(doc.StatusName == "Новый" ? "primary" : doc.StatusName == "Одобрено" ? "success" : "danger")">@doc.StatusName</span>
                            </td>
                            @if (canDelete && doc.StatusName == "Новый")
                            {
                                <td>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@doc.Id">Удалить</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div><!-- End Recent Sales -->

<script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/chart.js/chart.min.js"></script>
<script src="~/assets/vendor/echarts/echarts.min.js"></script>
<script src="~/assets/vendor/quill/quill.min.js"></script>
<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>
<!-- Template Main JS File -->
<script src="~/assets/js/main.js"></script>