@model Document.Models.ViewModels.Document.DocumentVm


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<!-- Recent Sales -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <h5 class="card-title">Документ #@Model.DocumentNumber</h5>

            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Корреспондент</label>
                <div class="col-sm-10">
                    <input type="inputNumber" class="form-control disabled" disabled value="@Model.Correspondent">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Номер корреспондента</label>
                <div class="col-sm-10">
                    <input type="inputNumber" class="form-control disabled" disabled value="@Model.CorrespondentNumber">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Название департамента</label>
                <div class="col-sm-10">
                    <input type="inputNumber" class="form-control disabled" disabled value="@Model.DepartmentName">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Описание</label>
                <div class="col-sm-10">
                    <input type="inputNumber" class="form-control disabled" disabled value="@Model.Topic">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Тип</label>
                <div class="col-sm-10">
                    <input type="inputNumber" class="form-control disabled" disabled value="@Model.Type">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Статус</label>
                <div class="col-sm-10">
                    <input type="inputNumber" class="form-control disabled" disabled value="@Model.StatusName">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Дата создания</label>
                <div class="col-sm-10">
                    <input type="inputNumber" class="form-control disabled" disabled value="@Model.CreatedAtCorrespondent">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Список исполнителей</label>
                <div class="col-sm-10">
                    @foreach (var item in Model.UserDocuments)
                    {
                        <input type="inputNumber" class="form-control disabled" disabled value="@item.UserName">
                    }
                </div>
            </div>
            
            @if (Model.UserDocuments.Select(x => x.UserId).Contains(Model.UserId) && Model.StatusName == "Новый")
            {
                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Действия</label>
                    <div class="col-sm-10">
                        <a class="btn btn-success" asp-action="Accept" asp-route-id="@Model.Id">Одобрить</a>
                        <a class="btn btn-danger" asp-action="Reject" asp-route-id="@Model.Id">Отказать</a>
                    </div>
                </div>
            }
        </div>

    </div>
</div><!-- End Recent Sales -->

<script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/chart.js/chart.min.js"></script>
<script src="~/assets/vendor/echarts/echarts.min.js"></script>
<script src="~/assets/vendor/quill/quill.min.js"></script>
<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>
<!-- Template Main JS File -->
<script src="~/assets/js/main.js"></script>